.home {
  width: 70%;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  @media (max-width: 900px) {
    width: 100%;

    .header-skeleton {
      display: flex;
      // flex-direction: column;

      // align-items: center;
      // gap: 6rem;
      width: 100%;
    }

    .header-loader {
      width: 500px;
    }
    .moviebox-header {
      display: flex;
      width: 30%;
      margin-right: 3rem;

      h1 {
        font-size: 1rem;
      }
    }

    .top-bg {
      background-image: url("../../assets/header.png");
      height: 1600px;
      object-fit: cover;
    }

    .header-menu {
      display: flex;
      // flex-direction: column;
      // gap: 2rem;
      // padding-top: 3rem;
      // padding-left: 2rem;
      // margin-left: 40rem;
      width: 20%;

      p {
        color: #fff;
        margin-left: 2rem;
        white-space: nowrap;
      }
    }

    .header-menu {
      display: flex;
      gap: 1rem;
      // padding-top: 3rem;
      // padding-left: 2rem;
      // margin-left: 40rem;

      p {
        color: #fff;
      }
    }

    // .moviebox-header {
    //   width: 10rem;
    // }

    .input-fild {
      width: 40%;
      // margin: 0 auto;
      // padding-top: 1rem;
      margin-top: 1rem;
      position: relative;

      @media (max-width: 900px) {
        width: 90%;
      }

      input {
        width: 90%;
        padding: 0.8rem 1rem;
        border-radius: 10px;
      }
    }
  }

  .top-bg {
    background-image: url("../../assets/header.png");
    height: 600px;
    object-fit: cover;

    .header-des {
      // display: flex;
      // padding-top: 3rem;
      // padding-left: 2rem;
      h3 {
        color: #fff;
      }
      p {
        color: #fff;
      }
      h1 {
        color: #fff;
      }
    }

    .trailers {
      display: flex;
      width: 169px;
      background-color: #be123c;
      height: 36px;
      align-items: center;
      justify-content: center;
    }

    .header-rating {
      display: flex;
      gap: 4rem;
    }

    .imdb-img {
      width: 35x;
      height: 36px;
    }

    .fruit-img {
      width: 15x;
      height: 36px;
    }

    .img-skeleton {
      display: flex;
      align-items: center;
    }

    .header-skeleton {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
    }

    .header-menu {
      display: flex;
      gap: 2rem;
      // padding-top: 3rem;
      // padding-left: 2rem;
      // margin-left: 40rem;

      p {
        color: #fff;
      }
    }

    .input-fild {
      width: 40%;
      // margin: 0 auto;
      // padding-top: 1rem;
      position: relative;

      @media (max-width: 900px) {
        width: 40%;
        // margin-bottom: 9rem;
      }

      input {
        width: 90%;
        padding: 0.8rem 1rem;
        border-radius: 10px;
      }
    }

    .inputs {
      background-color: transparent;
      border: 1px solid #fff;
      align-items: center;
      justify-content: center;
    }

    .inputs::placeholder {
      color: #fff;
    }

    .invalid-movie {
      text-align: center;
      color: red;
    }
  }

  .featured-movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .moviebox-header {
    display: flex;
    gap: 2rem;
  }

  .moviebox-img {
    width: 50px;
  }

  .see-more {
    display: flex;
    text-align: center;
    color: #be123c;
  }

  .title {
    color: #428bca;

    @media (max-width: 900px) {
      font-size: 16px;
    }
  }
  .movie-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-between;
    gap: 1rem;
  }

  .loading {
    position: absolute;
    top: 3.5rem;
    left: 45%;
    font-size: 20px;
    color: #fff;
  }

  .menu-img {
    width: 36px;
  }

  .search-movies-container {
    background-color: #fff;
    width: 40%;
    height: 300px;
    position: absolute;
    top: 5rem;
    left: 30%;
    overflow-y: scroll;
    border-radius: 10px;

    @media (max-width: 900px) {
      width: 80%;
      left: 15%;
    }

    .search-des {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;

      &:hover {
        background-color: #e3e9f3de;
        cursor: pointer;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 20px;

        @media (max-width: 900px) {
          border-radius: 50%;
        }
      }
      .titleAndDate {
        width: 70%;
        font-size: 16px;
      }
    }
  }

  .footer {
    text-align: center;
    margin-top: 2rem;
  }
}

.posterImage {
  height: 600px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 3rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}
